@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0a0a0a;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 60px;
}

nav a {
  color: #c2ffc2;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  color: #c084ff;
}

.hero {
  background: url('assets/Gamesbackground.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 20px;
}

.hero h1 {
  font-size: 3em;
  color: #c084ff;
}

.hero span {
  color: #00ff88;
}

section {
  padding: 80px 20px;
}

h2 {
  font-size: 2em;
  color: #00ff88;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background: #111;
  border: 2px solid #c084ff;
  border-radius: 20px;
  padding: 30px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ff88;
}

.card a {
  display: block;
  margin-top: 10px;
  background: #00ff88;
  color: black;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.stat-card {
  background: #111;
  border: 2px solid #00ff88;
  padding: 30px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 0 10px #00ff88;
}

footer {
  background: black;
  padding: 20px;
  font-size: 14px;
}

footer a {
  color: #c084ff;
  text-decoration: none;
}
